<div class="dropdown">
    <span class="glyphicon glyphicon-cog" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
    <ul class="item-menu dropdown-menu" aria-labelledby="dLabel">
      <li><a href="#">Notify Owner</a></li>
      <li><a data-toggle="modal" data-target="#tag_object_dialog">Tag Object</a></li>
    </ul>
</div>
