<div class="page-title">
  <div class="title_left">
    <h3> Add Account </h3>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <div class='x_panel'>
      <div class="x_title">
          <h2>Add Account</small></h2>
          <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <form action='/account' class="form-horizontal form-label-left" method='POST'>
          <div class="form-group">
            <label for="alias" class="control-label col-md-3 col-sm-3 col-xs-12">Account Alias</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control col-md-7 col-xs-12" name="alias" placeholder="">
            </div>
          </div>
          <div class="form-group">
            <label for="access_key" class="control-label col-md-3 col-sm-3 col-xs-12">Access Key</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control col-md-7 col-xs-12" name="access_key" placeholder="<access key>">
            </div>
          </div>
          <div class="form-group">
            <label for="secret_key" class="control-label col-md-3 col-sm-3 col-xs-12">Secret Key</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="password" class="form-control col-md-7 col-xs-12" name="secret_key" placeholder="<secret key>">
            </div>
          </div>
          <div class="form-group">
            <label for="secret_key" class="control-label col-md-3 col-sm-3 col-xs-12">Role</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control col-md-7 col-xs-12" name="role" placeholder="">
            </div>
          </div>
          <div class="form-group">
            <label for="secret_key" class="control-label col-md-3 col-sm-3 col-xs-12">Notification Email</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control col-md-7 col-xs-12" name="email" placeholder="<email for sending notifications>">
            </div>
          </div>
          <div class="form-group">
            <label for="secret_key" class="control-label col-md-3 col-sm-3 col-xs-12">Account Number</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control col-md-7 col-xs-12" name="identifier" placeholder="">
            </div>
          </div>
          <div class="form-group">
            <label for="billing_bucket" class="control-label col-md-3 col-sm-3 col-xs-12">Billing Bucket</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control col-md-7 col-xs-12" name="billing_bucket">
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
              <button type="submit" class="btn btn-default">Create</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
