/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *
*/
@import "bootstrap-sprockets";
@import "bootstrap";

.aws-icon {
    background-image: image-url("aws.png");
    height: 16px;
    width: 16px;
    font-size: 0;
}

body.nav-sm .nav.side-menu li a i.aws-icon {
    background-image: image-url("aws.png");
    height: 23px;
    width: 23px;
    font-size: 0;
}

.aws-icon-ec2 {
    background-position: 0 -44px;
}

.aws-icon-rds {
    background-position: -192px -44px;
}

.nav-sm .aws-icon-ec2 {
    background-position: 0 0px;
}

.nav-sm .aws-icon-rds {
    background-position: -192px 0px;
}

/*.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.item-menu  { font-size: small; }*/
